{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}


<div class="container">
    <h1 class='text-center mb-3 p-3'>A propos</h1>
    <h2 class='text-center mb-3 p-3'>Nozama en France</h2>
    
    <p>Une contribution positive à l'économie Nous servons avec passion nos clients en France. Toutefois, si nous pensons d'abord à eux, nous accordons également la plus grande importance à notre empreinte économique, sociale et environnementale au niveau local. En mettant toute notre énergie, notre savoir-faire et notre capacité d'innovation au service des Français, nous contribuons à la croissance de l'économie française. Nous souhaitions partager un aperçu de la manière dont nous contribuons à la croissance de l'économie française, à la création de milliers d'emplois, au financement des services publics et du modèle social français ; tout en prenant soin de préserver l'environnement."</p>


</div>
{% endblock %}
