{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<h1 class="text-center">Shopping spree</h1>


	<div class="container">
		{{ form(form) }}

			<div class="row p-3">
				{% for product in products %}

					<div class="col p-4">
						<div class="card p-3 h-100" style="width: 18rem;">

							<div class="card-body card text-white bg-secondary">
								<img class="card-img-top embed-responsive-item z-depth-2" alt="100x100" style="width: 100% ; height: 15vw;
																																																	    object-fit: cover" src={{ product.imagelink }}></img>
							<p>{{product.title|length > 40 ? product.title|slice(0,60)~ '...' : product.title}}</p>
							<p>{{product.description|length > 50 ? product.description|slice(0,90)~ '...' : product.description }}</p>
							<p class="fw-bolder">Price :
								{{product.price}}
								eur</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
