{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}

{% if app.request.method == 'POST' %}
    <div>
        {% if products | length == 0 %}
            <h4>Aucun résulat pour votre recherche.</h4>
           {% else %}
               <h3 class="mt-3">Vos résulats de recherche :</h3>
               {% for products in products %}
                   <div class="mt-3 p-3 bg-light border rounded">
                       <a href="{{ path('article_show', {'slug': products.slug}) }}">
                              <h6 class="text-dark"><i class="bi bi-arrow-down-right-square-fill text-primary"></i> {{ products.title }}</h6>
                              <div class="text-dark small p-1 rounded">
                                    {{ products }}
                              </div>
                       </a>
                   </div>
              {% endfor %}
          {% endif %}
     </div>
{% endif %}
{% endblock %}
