<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous" defer></script>
		<link rel="stylesheet" href="style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link
		rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<style>
		.logoName {
			font-family: 'Bangers';
			font-family: 'Comforter Brush';
			color: white;
			text-indent: 10px;
			text-shadow: 1px 1px white;
			font-size: 40px;
		}
	</style>

	<body>
		{% block navbar %}

			<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
				<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
				<a href="/" class="navbar-brand">
					<img class="" type="button" src="logo.png" style="width:80px;height:60px" ;></img>
					</a>
				<p class="logoName">Nozama</p>
				<ul class="navbar-nav mr-auto">

					<li class="nav-item active">
						<a class="nav-item nav-link mr-sm-2 text-white" type="button" href=" /">Accueil</a>
					</li>
					<li class="nav-item active">
						<a class="nav-item nav-link mr-sm-2 text-white" type="button" href=" /about">A propos</a>
					</li>
					<li class="nav-item active">
						<a class="nav-item nav-link mr-sm-2 text-white" type="button" href="/prod">Produits</a>
					</li>
				</ul>

				<ul class="navbar justify-content-end">
					{% if app.user == null %}
						<li class="nav-item">
							<a class="nav-item p-2 nav-link mr-sm-2 text-white" type="button" href="/register">S'Enregistrer</a>
						</li>
						<li class="nav-item">
							<a class="nav-item p-2 nav-link mr-sm-2 text-white" type="button" href="/login">Se Connecter</a>
						</li>
					{% endif %}
					{% if app.user %}
						<li class="nav-item">
							<a class="nav-item nav-link mr-sm-2 text-white" type="button" href="/logout">Se déconnecter</a>
						</li>

					{% endif %}
					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item">
							<a class="nav-item nav-link mr-sm-2 ms-auto text-white" type="button" href="/admin">Administration</a>
						</li>
					{% endif %}
				</ul>


			</div>
		</body>
	</html>
</body></html></nav>{% endblock %}{% block body %}{% endblock %}</body></body></html>
