{% extends 'base.html.twig' %}

{% block title %}Hello ProductsPageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="row p-3">
				{% for product in products %}

					<div class="col">
						<div class="card p-3 h-100" style="width: 18rem;">

							<div class="card-body card text-white bg-secondary">
								<img class="card-img-top embed-responsive-item z-depth-2" alt="100x100" style="width: 100% ; height: 15vw;
																																																	    object-fit: cover" src={{ product.imagelink }}></img>
							<p>{{product.title|length > 40 ? product.title|slice(0,60)~ '...' : product.title}}</p>
							<p>{{product.description|length > 50 ? product.description|slice(0,90)~ '...' : product.description }}</p>
							<p>Price :
								{{product.price}}
								eur</p>
						</div>
					</div>
				</div>
				
			{% endfor %}
{% endblock %}
